---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<!--   <link href="https://fonts.googleapis.com/css?family=Lato:900|Work+Sans" rel="stylesheet"> -->
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% seo %}
</head>
<body style="background-color: rgb(255, 255, 255)">
 <script async src="{{site.baseurl}}/js/theme.min.js"></script>
  <header>
      <a href="{{site.baseurl}}/"><div class="home"></div></a>
  </header>

    <main>
    <article>
    {{ content }}
    </article>
    </main>

<footer>
    <div class="links">
        <a href="{{site.baseurl}}/about/">About</a>
        <a class="theme" onclick="theme()">Dark/Light</a>
        {% include social-media-links.html %}
        <a href="{{ site.data.social-media.twitter.href }}{{ site.data.social-media.twitter.id }}" title="Twitter"></a>
        <a href="{{ site.data.social-media.gitghub.href }}{{ site.data.social-media.github.id }}" title="GitHub"></a>
        <a href="{{ site.data.social-media.linkedin.href }}{{ site.data.social-media.linkedin.id }}" title="Linkedin"></a>
    </div>
    <p class="copy"><small>Maintained by {{site.title}} | Theme 'hagura' by <a href="http://webjeda.com">webjeda</a></small></p>
</footer>
{% include analytics.html %}
</body>
</html>
